<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&family=Lobster+Two&display=swap" rel="stylesheet">

<div class="footer-container">
    <div class="footer-in">
        <div class="section1">
            <!-- Content for the first horizontal section -->
            <h2>Aide et support</h2>
                <a href="#">
                <p>Qui sommes nous ?</p>
                </a>
                <a href="#">
                <p>Contactez-nous</p>
                </a>
                <a href="#">
                <p>Foire aux questions</p>
                </a>
          </div>
      
          <div class="section2">
            <!-- Content for the second horizontal section -->
            <h2>Politiques et mentions légales</h2>
            <a href="#"><p>Politique de confidentialité</p></a>
            <a href="#"><p>Conditions d'utilisation</p></a>
            <a href="#"><p>Politique de remboursement ou de retour</p></a>
            <a href="#"><p>Mentions légales</p></a>
          </div>
      
          <div class="section3">
            <!-- Content for the third horizontal section -->
            <img src="assets/Calque_1.png" alt="Logo" style="width: 117px; height: 103px;">
            <a href="#">
                <p style= "font-size: 18px; font-weight: 400; line-height: 18px; letter-spacing: 0; text-align: left;">
                    alif.story@contact.com
                  </p>
            </a>
            
            <div class="social-media">
              <!-- Instagram button -->
                <a href="#">
                    <img src="assets/Frame 12.png" alt="Instagram">
                </a>
              <!-- Facebook button -->
              <a href="#">
                <img src="assets/Frame 11.png" alt="Facebook">
              </a>
            </div>
          </div>
    </div>

    

  </div>
  
