.section-container {
  width: 1280px;
  height: 250px;
  gap: 120px;
  margin-top: 160px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;

  &.flex-reverse {
    flex-direction: row-reverse;
  }
  
    .text {
      display: flex;
      flex-direction: column; /* Added to stack h2 and p elements vertically */
      width: 338px;
      gap: 12px;
      text-align: center;

  
      h2 {
        font-family: 'Sriracha', cursive;
        font-size: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #0281A1;
      }
  
      p {
        font-family: 'Sriracha', cursive;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  
    .img-container {
      img {
        width: 398px;
        height: 250px;
      }
    }

    
      &.flex-reverse .img-container {
        padding-right: 0; /* Remove padding when image is on the right */
      }

      &.flex-reverse .text {
        padding-left: 0; /* Remove padding when text is on the left */
      }
  }
  
