<header></header>
<section1></section1>
<section2></section2>
<section3></section3>

<section4 title="41 récits / 7 prophètes" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit,
 sed do eiusmod tempor
    incididunt ut labore et dolore,
     magna aliqua." InputImage="assets/image 4.png">
</section4>

<section4 title="j’enrichie mon expérience" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore
       magna aliqua." InputImage="assets/image 5.png" [isTextFirst]="false"
       [isImageFirst]="true">
</section4>
 
<section4 title="j’enrichie mon expérience" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore
       magna aliqua." InputImage="assets/image 4.png" [isTextFirst]="true"
       [isImageFirst]="false">
</section4>


<footer></footer>