<app-header></app-header>
<app-section1></app-section1>
<app-section2></app-section2>
<app-section3></app-section3>
<app-section4 title="41 récits / 7 prophètes" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit,
 sed do eiusmod tempor
    incididunt ut labore et dolore,
     magna aliqua.">
</app-section4>

<app-section5  title="3h d’écoute et sans onde" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore
 magna aliqua.">

</app-section5>

<app-section4 title="j’enrichie mon expérience" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore
       magna aliqua." >
</app-section4>



<app-footer></app-footer>