<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&family=Lobster+Two&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Sriracha&display=swap" rel="stylesheet">

<div>
    <div class="radio-div">
        <div class="img">
            <img src="assets/roberts 1.png" alt="robert-bag">
          </div>

          <div class="concept">
            <h2>Le concept</h2>
            <p>Offrir aux enfants la possibilité d'explorer des récits prophétiques 
                authentiques de l'Islam. En plus des récits, ils incluent des éléments pédagogiques.. 
                Conçus pour susciter l'intérêt, la curiosité et l'émerveillement.
            </p>
            <div class="but">
                <button class="ecoute">ecouter un extrait</button>
                <a href="#">
                    <img src="assets/audio.png" alt="audio">
                  </a>
            </div>
            
          </div>
    </div>

</div>
